﻿@using KYC.Client.Models
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign In</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/Authentication")
    <meta name="description" content="Know Your Colleague" />
</head>
<body>
    <div class="vcenter-login">
        <div id="main" class="center-block text-center well well-login">
            <div id="alertMessage" class="alert alert-dismissible collapse">
                <a id="linkClose" href="#" class="close text-right">&times;</a>
                <div id="messageText"></div>
            </div>
            <h2 class="center-block">Know Your Colleague</h2>
            <h4>Please login:</h4>
            @Html.ActionLink("Sign in with Google", "SignIn", "SignIn", new { redirect = "SignIn?status_code=202" }, new { @class = "signInGoogleBtn center-block" })
        </div>
    </div>

    <script type="text/javascript">
        var apiBaseAddress = '@BaseAddress.API';
        var clientBaseAddress = '@BaseAddress.Client';
        var statusCode = '@ViewBag.StatusCode';
        getAccessToken();
            
        $(document).ready(function () {
            if (statusCode == 200) {
                $('#alertMessage').addClass('alert-info');
                $('#messageText').text('You have successfully signed out!');
                $('#alertMessage').show();
            }
            else if (statusCode >= 400) {
                $('#alertMessage').addClass('alert-danger');
                if (statusCode == 401) {
                    $('#messageText').text('You have to be signed in to use this system!');
                }
                else if (statusCode == 404) {
                    $('#messageText').text('You cannot sign in with this account. Your company is not registered in the system yet!');
                }
                else {
                    $('#messageText').text('Something went wrong! Please sign in again.');
                }
                $('#alertMessage').show();
                localStorage.clear();
            }

            $('#linkClose').click(function () {
                $('#alertMessage').hide('fade');
            });
        });
    </script>
</body>
</html>