﻿body {
    padding-top: 10px;
    padding-bottom: 20px;
    background:url('../Images/bg.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
textarea {
    max-width: 240px;
}

/* Style changes ffrom classic Bootstrap design */
.badge {
  background-color: #d9230f;
}

.pagination > .active > a {
    background-color: #f0ad4e;
    border-color: #eea236;
}

.pagination > .active > a:hover {
    background-color: #eea236;
}

a {
  color: #d9230f;
  text-decoration: none;
}

.short-input{
    max-width: 150px;
}

.well{
    background-color:rgba(255, 255, 255,0.6);
    border:0;
    border-radius: 8px;
}

label {
    font-weight:normal;
}

.force-inline{
    display:inline-block;
}


/* Login page */
a.signInGoogleBtn
{
    background: url(../Images/signInGoogle.png) no-repeat top left;
     display: block;
     width: 300px;
     height: 66px;
     text-indent: -9999px; /* hides the link text */
}

.vcenter-login {
    min-height: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.well-login{
    align-items: center;
    width: 400px;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:30px;
    padding-right: 30px;
    display: none;
    border-radius: 16px;
}

.wide {
    width:100% !important;
    max-width:none;
}


/* Date picker style change */
.ui-datepicker-title select {
    color:black;
}

/* Datatables style */
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

/* Choice button style */
.btn-choice {
    margin:3px;
    min-width: 200px;
    max-width:400px;
    word-wrap: break-word;
    white-space: normal;
}

/* status bar */
#statusBar label{
    font-size:1px;
}
#statusBar label input{
    display:none;
}

/* Error messages */
#message {
    z-index:1000;
    position: fixed;
    bottom:20px;
    left:20px;
    max-width:400px;
}
