﻿@{
    ViewBag.Title = "Questionaire ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #questionDiv{
        margin-top:60px;
        margin-bottom:20px;
        min-height:200px;
    }
    #question{
        padding-bottom:25px;
    }
    #nextBtn{
        float:right!important;
    }
    #nextBtn, #prevBtn{
        width:100px;
    }
</style>
<h2>Questionnaire</h2>
<div class="well">
    <div class="row">
        <div class="btn-group mx-auto" role="group" id="statusBar" style="width:100%" data-toggle="buttons"></div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div id="questionDiv" class="text-center">
                <div id="noQuestions" class="alert alert-info text-center collapse">
                    <h4>Your company has no questions!</h4>
                    <p>Be patient or contact your company administrator!</p>
                </div>
                <div><h3 id="question"></h3></div>
                <div id="choices"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <button id="prevBtn" class="btn btn-danger pull-left">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous
            </button>
            <button id="nextBtn" class="btn btn-danger pull-right">
                Next <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>

@section FooterScripts {
    @Scripts.Render("~/bundles/Quiz/Company")
}