﻿
@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #questionDiv{
        margin-top:60px;
        margin-bottom:20px;
        min-height:500px;
    }
    .btn-div{
        position:relative;
    }
</style>
<h2>Quiz</h2>

<div class="well">
    <div id="progress" class="progress">
        <div id="progress-correct" class="progress-bar progress-bar-striped progress-bar-success collapse"></div>
        <div id="progress-wrong" class="progress-bar progress-bar-striped progress-bar-danger collapse"></div>
        <div id="progress-loading" class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width: 100%"></div>
    </div>
    <div class="row">
        <div class=" col-lg-offset-2 col-lg-8">
            <div id="questionDiv" class="text-center">
                <div id="noQuestions" class="alert alert-info text-center collapse">
                    <h4>Your colleagues have not filled their questionnaires!</h4>
                    <p>Be patient!</p>
                </div>
                <div class="thumbnail center-block hidden" style="width:250px">
                    <img class="" id="profileImg" alt="" />
                </div>
                <h4><label id="nameLbl"></label></h4>
                <div><h3 id="question"></h3></div>
                <div id="choices"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <button id="skipBtn" class="btn btn-danger pull-right">
                Skip <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>
@section FooterScripts {
    @Scripts.Render("~/bundles/Quiz")
}