﻿<style>
    h4 {
        padding-top:5px;
        padding-bottom:5px;
        margin:0;
    }
    .panel-heading.row{
        margin-left:0;
        margin-right:0;
    }
</style>
<div class="col-sm-offset-2 col-sm-8">
    <h3>Quiz</h3>

    <div id="notAdminDiv" class="alert alert-warning text-center collapse">
        <h4>You are not company administrator.</h4>
        <h5>Only company administrators are allowed to manage company quiz.</h5>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    </div>
    <div id="addBtnDiv">
        
    </div>
    <div class="modal fade" id="dialogModal" tabindex="-1" role="dialog" aria-labelledby="dialogModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add new question</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="modalForm">
                        <label class="control-label"></label>
                        <input type="hidden" id="modalQId" value="" />
                        <textarea class="form-control wide" id="modalText"></textarea>
                    </form>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" id="addModalBtn" data-dismiss="modal" class="btn btn-success">Add</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteQuestionModal" tabindex="-1" role="dialog" aria-labelledby="deleteQuestionModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="text-center">Are you sure you want to delete this question?</h4>
                    <h5 class="text-center">It will also remove all the choicesm user answers and quiz answers for this question</h5>
                    <div class="text-center">
                        <button type="button" id="deleteQuestionModalBtn" data-dismiss="modal" class="btn btn-success">Yes</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>