﻿@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add company</h2>
<div class="form-horizontal well">
    <table class="table">
        <tr>
            <td class="col-md-5 text-right"><label class="control-label">Name:</label></td>
            <td class="col-md-7">@Html.TextBox("nameTxt", null, new { @class = "form-control short-textbox", @maxlength = "50" })</td>
        </tr>
        <tr>
            <td class="col-md-5 text-right"><label class="control-label">Address:</label></td>
            <td class="col-md-7">@Html.TextBox("addressTxt", null, new { @class = "form-control short-textbox", @maxlength = "255" })</td>
        </tr>
        <tr>
            <td class="col-md-5 text-right"><label class="control-label">E-mail address:</label></td>
            <td class="col-md-7">@Html.TextBox("emailTxt", null, new { @class = "form-control short-textbox", @maxlength = "255" })</td>
        </tr>
        <tr>
            <td class="col-md-5 text-right"><label class="control-label">Phone:</label></td>
            <td class="col-md-7">@Html.TextBox("phoneTxt", null, new { @class = "form-control short-textbox", @maxlength = "20" })</td>
        </tr>
        <tr>
            <td colspan="2" class="text-right">
                <input type="button" value="Add company" class="btn btn-success" id="addBtn" />
            </td>
        </tr>
    </table>
</div>

@section FooterScripts {
    @Scripts.Render("~/bundles/Company/Add")
    <script type="text/javascript">
        $(document).ready(function(){            
            $('#addBtn').click(function () {
                addCompany();
            });
        });
    </script>
}