﻿@{
    ViewBag.Title = "Edit company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit company</h2>

<div class="form-horizontal well">
    <table class="table">
        <tr>
            <td class="col-md-5 text-right"><label class="control-label">Name:</label></td>
            <td class="col-md-7">@Html.TextBox("nameTxt", null, new { @class = "form-control", @maxlength = "50" })</td>
        </tr>
        <tr>
            <td class="col-md-5 text-right"><label class="control-label">Address:</label></td>
            <td class="col-md-7">@Html.TextBox("addressTxt", null, new { @class = "form-control", @maxlength = "255" })</td>
        </tr>
        <tr>
            <td class="col-md-5 text-right"><label class="control-label">E-mail address:</label></td>
            <td class="col-md-7">
                @Html.TextBox("emailTxt", null, new { @class = "form-control force-inline short-input", @maxlength = "255" }) @@<span id="emailHostLbl"></span>
            </td>
        </tr>
        <tr>
            <td class="col-md-5 text-right"><label class="control-label">Phone:</label></td>
            <td class="col-md-7">@Html.TextBox("phoneTxt", null, new { @class = "form-control", @maxlength = "20" })</td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-4 text-center">
                        <div>Available employees</div>
                        @Html.DropDownList("usersLbx", new SelectList(new[] { "" }), new { @class = "form-control wide", size = "4" })
                    </div>
                    <div class="col-sm-4 text-center">
                        <div>Administrators</div>
                        @Html.DropDownList("adminsLbx", new SelectList(new[] { "" }), new { @class = "form-control wide", size = "4" })
                    </div>
                </div>
                <div class="row col-sm-offset-2">
                    <h5>Add or remove administrators by double clicking on company employee entry.</h5>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <input type="button" value="Save changes" class="btn btn-success" id="addBtn" />
                <input type="button" value="Discard changes" class="btn btn-warning" id="discardBtn" />
            </td>
        </tr>
    </table>
    <div class="row">
        @Html.Partial("_Quiz")
    </div>
</div>

@section FooterScripts {
    @Scripts.Render("~/bundles/Company/Edit")
    <script type="text/javascript">
        var companyId = '@ViewBag.CompanyId';
        var statusCode = '@ViewBag.StatusCode';
        GetCompany(companyId);
        GetQuiz(companyId);
    </script>
}