﻿@{
    ViewBag.Title = "Company list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Company list</h2>
<div class="well">
    <p>
        <a href="@Url.Action("Add")" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Add company</a>
    </p>
    <table class="table dt-responsive" id="companyTable" style="width: 100%">
        <thead>
            <tr>
                <th class="col-md-3">Name</th>
                <th class="col-md-4">Address</th>
                <th class="col-md-3">Email</th>
                <th class="col-md-2">Phone</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section FooterScripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var statusCode = '@ViewBag.StatusCode';
            if (statusCode == 404){
                showMessage('danger', 'Company not found!');
            }
        });
    </script>
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/Company/List")
}
