﻿@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit Profile</h2>

<div id="notConfirmedDiv" class="alert alert-danger text-center collapse">
    <h4>You have not confirmed you user profile.</h4>
    <h5>Add your profile info and press "Save changes"</h5>
</div>

<div id="statsErrorDiv" class="alert alert-warning collapse text-center">
    <h4>You have a questionnaire to fill!</h4>
    <h5>At the moment, you have no questions in company questionnaire answered.</h5>
    <h5>You can fill the ones, you want your colleagues to learn about.</h5>
    <p><a href="../../Quiz/Company" class="btn btn-default" id="adminLink">Go to questionnaire</a></p>
</div>

<div class="form-horizontal well">
    <div class="text-center">
        <div class="thumbnail center-block" style="width:150px">
            <img id="profileImg" alt="Profile image" />
        </div>
        <h4><label id="nameTxt"></label></h4>
    </div>
    <table class="table">
        <tr>
            <td class="text-right col-sm-5">@Html.Label("emailLbl", "Email address: ", new { @class = "control-label input" })</td>
            <td class="col-sm-7">@Html.Label(" ", new { @class = "form-control", style = "max-width: 240px", id = "emailTxt" })</td>
        </tr>
        <tr>
            <td class="text-right col-sm-5">@Html.Label("phoneLbl", "Phone: ", new { @class = "control-label" })</td>
            <td class="col-sm-7">@Html.TextBox("phoneTxt", null, new { @class = "form-control", @maxlength = "20" })</td>
        </tr>
        <tr>
            <td class="text-right col-sm-5">@Html.Label("dobLbl", "Date of birth: ", new { @class = "control-label" })</td>
            <td class="col-sm-7">
                <div class="row">
                    <div class="col-md-6">@Html.TextBox("dobTxt", "", new { @class = "form-control" })</div>
                    <div class="col-md-6">
                        <label class="control-label">
                            @Html.CheckBox("includeDobChk") Show date of birth
                        </label>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right col-sm-5">@Html.Label("googleLbl", "Google+ profile: ", new { @class = "control-label" })</td>
            <td class="col-sm-7">
                <div class="row">
                    <div class="col-md-6">
                        <a id="googleTxt" href="#" target="_blank" class="btn btn-link">Go to profile</a>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label" id="showGoogle">
                            @Html.CheckBox("includeGoogleChk") Show Google+ profile link
                        </label>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <input type="button" value="Save changes" class="btn btn-success" id="saveBtn" />
                <input type="button" value="Discard changes" class="btn btn-warning" id="discardBtn" />
            </td>
        </tr>
    </table>
</div>
<div id="stats" class="well text-center">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <h4>Your stats!</h4>
            <h5 id="progressUserText" class="collapse">See how far you have got with learning more about your colleagues:</h5>
            <div id="progressUser" class="progress collapse">
                <div id="progressUser-correct" class="progress-bar progress-bar-striped progress-bar-success collapse"></div>
                <div id="progressUser-wrong" class="progress-bar progress-bar-striped progress-bar-danger collapse"></div>
            </div>
            <h5 id="progressColleagueText" class="collapse">Lets look at how well your colleagues know you:</h5>
            <div id="progressColleague" class="progress collapse">
                <div id="progressColleague-correct" class="progress-bar progress-bar-striped progress-bar-success collapse"></div>
                <div id="progressColleague-wrong" class="progress-bar progress-bar-striped progress-bar-danger collapse"></div>
            </div>
        </div>
    </div>
</div>
<div id="companyAdminDiv" class="alert alert-info text-center collapse">
    <h4>You are an administrator in your company!</h4>
    <h5>Manage company quiz and edit contact information here!</h5>
    <p><a href="#" class="btn btn-default" id="adminLink">Edit company</a></p>
</div>
@section FooterScripts {
    @Scripts.Render("~/bundles/User/Edit")
}
