﻿@{
    ViewBag.Title = "UsersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Colleagues</h2>
<div class="well">
    <table class="table  dt-responsive nowrap" id="colleagueTable" style="width: 100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>E-mail address</th>
                <th>Phone number</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section FooterScripts {
    <script>
        $(document).ready(function () {
            var statusCode = '@ViewBag.StatusCode';
            if (statusCode == '404'){
                showMessage('danger', 'Colleague not found!');
            }
            else if (statusCode == '401'){
                showMessage('danger','Access denied!');
            }
        });
    </script>
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/User/List")
}
