﻿@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Profile</h2>

<div class="form-horizontal well">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail center-block" style="width:200px">
                <img id="profileImg" />
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <table class="table table-borderless" id="main-table">
                <tbody>
                    <tr>
                        <td colspan="2"><h4><label id="nameTxt"></label></h4></td>
                    </tr>
                    <tr>
                        <td class="text-left col-xs-6 col-sm-3 col-lg-2">@Html.Label("emailLbl", "Email address: ")</td>
                        <td class=" col-xs-6 col-sm-9 col-lg-10">@Html.Label(" ", new { id = "emailTxt" })</td>
                    </tr>
                    <tr>
                        <td class="text-left col-xs-6 col-sm-3 col-lg-2">@Html.Label("phoneLbl", "Phone: ")</td>
                        <td class="col-sm-9 col-lg-10">@Html.Label(" ", new { id = "phoneTxt" })</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section FooterScripts {
    <script>
        $(document).ready(function () {
            LoadData('@ViewBag.User');
        });
    </script>

    @Scripts.Render("~/bundles/User/View")
}
