﻿@using KYC.Client.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Know Your Colleague</title>
    @Styles.Render("~/Content/css")
    @RenderSection("HeadScripts", required: false)
</head>
<body>
    <nav class="navbar navbar-default container">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            @Html.Partial("_Nav")
        </div>
    </nav>
    <div class="container body-content">
        <div id="message" class="alert collapse">
            <a id="linkClose" href="#" class="close text-right">&times;</a>
            <div id="messageText"></div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Know Your Colleague</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/SignedIn")
    <script type="text/javascript">
        var apiBaseAddress = '@BaseAddress.API';
        var clientBaseAddress = '@BaseAddress.Client';
        signedIn();
    </script>
    @RenderSection("FooterScripts", required: false)
</body>
</html>
