﻿<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Colleagues", "UsersList", "User")</li>
        <li>@Html.ActionLink("Questionnaire", "Company", "Quiz")</li>
        <li>@Html.ActionLink("Quiz", "Index", "Quiz")</li>
        @if (ViewBag.isAdmin)
        {
            <li>@Html.ActionLink("Companies", "Index", "Company")</li>
        }
    </ul>
    <ul id="signedIn" class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("EditUserProfile","User")"><span class="glyphicon glyphicon-user"></span> <span id="userName"></span> <span id="notificationBadge" class="badge hidden">0</span></a>
        </li>
        <li>
            <a href="#" onclick="signOut(200)"><span class="glyphicon glyphicon-off"></span> Sign Out</a>
        </li>
    </ul>
</div>